/*  body  */ 
 
body{ 
    background-color: black; 
    font-family: monospace;
} 
 
 
h1{ 
    font-size: 48px; 
    color: #8b00ff; 
    display: inline; 
 }  
 
.invoker_p{ 
    font-size: 24px; 
    color: #8b00ff;   
    text-align: center; 
}

                                         /* navbar */ 

 .history{ 
    font-size: 24px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
} 
 
.history:hover{ 
    background-position: right;
} 
 
.stats{ 
    font-size: 24px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s; 
} 

.stats:hover{
    background-position: right;
}
 
.bild{ 
    font-size: 24px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
}  

.bild:hover{
    background-position: right;
}

.home{
    font-size: 24px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    display: flex;
    align-items: center;
    


}  
.home:hover{
    background-position: right;

}
 
.navbar{ 
     
    width: 100%; 
    height: 70px; 
    box-shadow: 0 4px 10px rgba(255, 255, 255, .1); 
} 
 
.navbar .container{ 
    height: inherit; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
 
 
.navbar-meny{ 
list-style-type: none; 
margin-bottom: none; 
padding-left: none; 
margin-right: 540px; 
transition: 0.5s; 
 
 
} 
 
.navbar-meny li{ 
    display: inline-block; 
    margin-left: 100px; 
}

                                        /* content */

.lina { 
    text-align: center; 

}

.image {
    text-align: center;
}


