body{
    background-color: black;
    font-family: monospace;

}


.home{
    font-size: 24px;
    color: #fff;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.home:hover{
    background-position: right;
}

p{
    font-size: 24px;
    color: white;
    margin-top: 70px;
}

.more{
    font-size: 24px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    position: fixed;
    right: 40%;
}

.more:hover{
    background-position: right;
}
