/*  body  */ 
 
body{ 
    background-color: black; 
    transition: .5s; 
} 
 
 
h1{ 
    font-size: 48px; 
    color: #8b00ff; 
    display: inline; 
 }  
  
.invoker_img{ 
    background-color: #e77517; 
    text-align: center; 
    margin-left: 39%; 
     
     
} 
 
.invoker_p{ 
    font-size: 24px; 
    color: #8b00ff;   
    text-align: center; 
} 
             /* navbar */ 
.history{ 
    font-size: 24px; 
    color: #ffff00;  
    transition: 0.5;  
} 
 
.history:hover{ 
    font-size: 24px; 
    color: whitesmoke;  
    border: 1px solid white;  
} 
 
.stats{ 
    font-size: 24px; 
    color: #42aaff;   
} 
 
.bild{ 
    font-size: 24px; 
    color: #8b00ff;   
}  
 
.navbar{ 
     
    width: 100%; 
    height: 70px; 
    box-shadow: 0 4px 10px rgba(255, 255, 255, .1); 
} 
 
.navbar .container{ 
    height: inherit; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
 
 
.navbar-meny{ 
list-style-type: none; 
margin-bottom: none; 
padding-left: none; 
margin-right: 540px; 
transition: 0.5s; 
 
 
} 
 
.navbar-meny li{ 
    display: inline-block; 
    margin-left: 100px; 
} 
 
.lina { 
    text-align: center; 
}
